 @font-face {
     font-family: "San Francisco";
     font-weight: 600;
     src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
 }
 
 .title-big {
     font-size: 40px;
     margin: 0px;
     margin-bottom: 5px;
 }
 
 .main-container {
     display: flex;
     justify-content: space-between;
     margin: 5px 30px;
 }
 
 body {
     font-family: San Francisco;
     margin: 0px;
     min-width: 360px;
 }
 
 .right-menue {
     align-items: center;
     align-self: center;
 }
 
 .logo {
     font-size: 30px;
 }
 
 .blue {
     color: #40A9FF;
 }
 
 .hlink {
     padding: 0px 10px;
     font-weight: 500;
 }
 
 .blueBG {
     background-color: #40A9FF;
     border-radius: 8px;
     padding: 5px 8px;
 }
 
 .mobile-dropdown {
     display: none;
     align-items: center;
     align-self: center;
     cursor: pointer;
 }
 
 .content-dropDownNav a {
     text-decoration: none;
     color: #FFF;
     padding: 8px 8px;
 }
 /* 
.content-dropDownNav {
    display: flex;
    background-color: #2C2C2C;
    flex-direction: column;
    padding: 10px 15px;
} */
 
 #mobileNavContent {
     position: absolute;
     left: 0;
     right: 0;
     opacity: 0;
     transition: opacity 0.2s ease-out;
 }
 
 #mobileNavContent.isOpen {
     opacity: 1;
     -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
     -ms-transition: all 0.5s ease-in-out;
     -o-transition: all 0.5s ease-in-out;
     transition: all 0.5s ease-in-out;
 }
 
 .body-container {
     margin: 50px 160px;
 }
 
 .title-small {
     font-size: 18px;
 }
 
 .title-small-x2 {
     width: 160px;
     align-items: center;
     align-self: center;
     font-size: 15px;
 }
 
 .setting-nav {
     margin-top: 10px;
 }
 
 .textarea {
     font-family: San Francisco;
     overflow: hidden;
     overflow-wrap: break-word;
     border-radius: 3px;
     font-size: 15px;
     min-height: 200px;
     width: 100%;
     padding: 8px 12px;
     tab-size: 4;
     line-height: 21px;
     height: 300px;
     -moz-tab-size: 4;
     -o-tab-size: 4;
     -webkit-tab-size: 4;
     box-sizing: border-box;
     background: rgba(217, 217, 217, 0.03);
     border: 1px solid rgba(255, 255, 255, 0.25);
     outline: none;
     color: #FFF;
     display: block;
     resize: none;
 }
 
 .optional-setting {
     margin-top: 30px;
 }
 
 .op {
     margin: 0px;
 }
 
 .hr {
     margin-top: 10px;
     background-color: 1px solid rgba(255, 255, 255, 0.25);
     border: .5px solid rgba(255, 255, 255, 0.25);
 }
 
 .setting-content {
     margin: 20px 0px;
     display: flex;
 }
 
 .select-class {
     margin: 0px 10px;
     width: 250px;
     background-color: rgba(196, 196, 196, 0.26);
     color: #FFF;
     border-radius: 8px;
     outline: none;
     border: none;
     padding: 10px 8px;
 }
 
 .input-options {
     font-family: San Francisco;
     font-size: 15px;
     margin: 0px 10px;
     width: 235px;
     background-color: rgba(196, 196, 196, 0.26);
     color: #FFF;
     border-radius: 8px;
     outline: none;
     border: none;
     padding: 10px 8px;
 }
 
 .submitBtn {
     margin-left: 50px;
     background-color: rgba(196, 196, 196, 0.26);
     color: #FFF;
     outline: none;
     border: none;
     border-radius: 8px;
     padding: 10px 8px;
     width: 200px;
     cursor: pointer;
 }
 
 option {
     background-color: #212121;
 }
 
 @media (prefers-color-scheme: light) {
     body {
         background: #FFF;
         color: #212121;
     }
     .right-menue a {
         text-decoration: none;
         color: #000;
     }
     .content-dropDownNav {
         display: flex;
         background-color: #E2E2E2;
         flex-direction: column;
         padding: 10px 15px;
     }
     .content-dropDownNav a {
         color: #000;
         font-weight: 600;
     }
 }
 
 .body-container {
     margin-top: 30px;
     font-size: 3.2vw;
 }
 
 .body-container h1 {
     letter-spacing: 1.3px;
     margin-bottom: 0px;
 }
 
 .search {
     margin-top: 30px;
     width: 53.2vw;
     padding: 5px 10px;
     font-size: 25px;
     border-radius: 7px;
     outline: none;
     border: none;
     font-family: San Francisco;
 }
 
 .search-box {
     display: flex;
     justify-content: center;
 }
 
 .img-search {
     align-items: center;
     align-self: center;
 }
 
 @media (prefers-color-scheme: dark) {
     body {
         background: #212121;
         color: #FFF;
     }
     .search-box {
         background-color: rgba(196, 196, 196, 0.26);
     }
     .right-menue a {
         text-decoration: none;
         color: #FFF;
     }
     .content-dropDownNav {
         display: flex;
         background-color: #2C2C2C;
         flex-direction: column;
         padding: 10px 15px;
     }
     .search {
         color: #fff;
     }
 }
 
 @media only screen and (max-width: 615px) {
     .setting-nav {
         margin-top: 20px;
     }
     .right-menue {
         display: none;
     }
     .logo {
         font-size: 28px;
     }
     .main-container {
         margin: 5px 20px;
     }
     .mobile-dropdown {
         display: block;
     }
     .body-container {
         margin: 30px 20px;
     }
 }
 
 .menu {
     background-color: transparent;
     border: none;
     cursor: pointer;
     display: flex;
     padding: 0;
 }
 
 .line {
     fill: none;
     stroke: white;
     stroke-width: 6;
     stroke-linecap: round;
     transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 
 .line1 {
     stroke-dasharray: 60 207;
     stroke-width: 6;
     stroke-linecap: round;
 }
 
 .line2 {
     stroke-dasharray: 60 60;
     stroke-linecap: round;
     stroke-width: 6;
 }
 
 .line3 {
     stroke-dasharray: 60 207;
     stroke-width: 6;
     stroke-linecap: round;
 }
 
 .opened .line1 {
     stroke-dasharray: 90 207;
     stroke-dashoffset: -134;
     stroke-width: 6;
     stroke-linecap: round;
 }
 
 .opened .line2 {
     stroke-dasharray: 1 60;
     stroke-dashoffset: -30;
     stroke-width: 6;
     stroke-linecap: round;
 }
 
 .opened .line3 {
     stroke-dasharray: 90 207;
     stroke-dashoffset: -134;
     stroke-width: 6;
     stroke-linecap: round;
 }